<h2>My events</h2>

<% @my_events.each do |event| %>
  <article class="container">
    <strong><%= link_to event.title, event_path(event.id)%></strong><br/>
    <p><%= event.description %></p>
    <time datetime="<%= event.date %>"><%= event.date.strftime('%b %d %Y') %></time>
  </article>
<%end%>
